.Homepage {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, #66c2ff, #e6f5ff);
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
