.Homepage {
  width: 100%;
  background: linear-gradient(to bottom right, #66c2ff, #e6f5ff);
  display: flexbox;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 56px;
  bottom: 0;
}

.card {
  /* Add shadows to create the "card" effect */

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 5vh;
  align-self: center;
  margin: 5vh auto 0 auto;
}

.headers {
  margin-bottom: 40px;
}
